<div class="container">

    <button class="btn btn-primary" type="submit" (click)="logout()">Logout</button>
    <button class="btn btn-primary" type="submit" (click)="new_task()">New task</button>
    <button class="btn btn-primary" type="submit" (click)="created_tasks()">Created tasks</button>
    <button class="btn btn-primary" type="submit" (click)="assigned_tasks()">Assigned tasks</button>
    <button class="btn btn-primary" type="submit" (click)="completed_tasks()">Completed tasks</button>

</div>